.dashboardplus-layout-controls {
   inset: 0 !important;
   align-items: initial !important;
   justify-content: initial !important;
   gap: 0 !important;
}

.dashboardplus-layout-drag {
   position: absolute !important;
   top: 8px !important;
   left: 8px !important;
   right: auto !important;
   bottom: auto !important;
}

.dashboardplus-layout-size-x {
   top: 50% !important;
   right: 8px !important;
   bottom: auto !important;
   width: 20px !important;
   height: 42px !important;
   transform: translateY(-50%) !important;
}

.dashboardplus-layout-size-y {
   right: 50% !important;
   bottom: 8px !important;
   width: 54px !important;
   height: 20px !important;
   transform: translateX(50%) !important;
}

.dashboardplus-layout-size-xy {
   right: 8px !important;
   bottom: 8px !important;
}
